.container
  .header
    %ul.nav.nav-pills.pull-right
      %li.active
        %a{href: "#"} Home
      %li
        %a{href: "#"} About
      %li
        %a{href: "#"} Contact
    %h3.text-muted
      Home module testing {{pageTitle}}
      %i.fa.fa-cog.fa-spin
  .jumbotron
    %h1 'Allo, 'Allo!
    %p.lead Always a pleasure scaffolding your apps.
    %p
      %a.btn.btn-lg.btn-success{href: "#"} Splendid!
  .row.marketing
    .col-lg-6
      %h4 HTML5 Boilerplate
      %p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
      %h4 Bootstrap
      %p Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
      %h4 Modernizr
      %p Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.
    .col-lg-6
      %h4 AngularJs
      %p AngularJS lets you write client-side web applications as if you had a smarter browser. It lets you use good old HTML (or HAML, Jade and friends!) as your template language and lets you extend HTML’s syntax to express your application’s components clearly and succinctly. It automatically synchronizes data from your UI (view) with your JavaScript objects (model) through 2-way data binding. To help you structure your application better and make it easy to test, AngularJS teaches the browser how to do dependency injection and inversion of control. Oh yeah and it also helps with server-side communication, taming async callbacks with promises and deferreds; and makes client-side navigation and deeplinking with hashbang urls or HTML5 pushState a piece of cake. The best of all: it makes development fun!
      %h4 RequireJs
      %p RequireJS is a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node. Using a modular script loader like RequireJS will improve the speed and quality of your code.
  .footer
    %p ♥ from the Yeoman team
